<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                <a href="assets/TomPiere.docx" class="btn btn-primary btn-lg">
                    <md-icon>file_download</md-icon> Download my resume</a>
            </div>
            <div class="col-md-6"><a href="mailto:tpiere@gmail.com" 
            class="btn btn-primary btn-lg">
            <md-icon>email</md-icon> Email me</a></div>
        </div>
        <div class="row">
            <div class="col-md-6"><a href="technologies.html" class="btn btn-primary btn-lg">
                <i class="glyphicon glyphicon-education"></i>See what I know</a></div>
                
            <div class="col-md-6"><a [routerLink]="['/projects']"  class="btn btn-primary btn-lg">
              <md-icon>build</md-icon> See what I've worked on</a></div>
        </div>
        <div class="row">
            <div class="col-md-6"><a href="about.html" class="btn btn-primary btn-lg">
                   <md-icon>person</md-icon> Learn more about me</a></div>
        </div>
    </div>
</div>